#logo{
  width: 10em;
}

body {
font-family: avenir light;

}

#txt_ban {
  padding-top: 10px;
}

.special_pic{
  imag

}

@font-face {
  font-family: 'Coco Puff Regular';
  src: url('http://www.fontsaddict.com/fontface/coco-puff-regular.ttf');
}
