#footer{
    background-color: aqua;
}

.jumbotron{
    background-color: aqua;
    background-image: url(media/byu.jpg);
        background-size: cover;
    background-position: center center;
    height: 25em;
}

#headerwrap {
	background: url(media/photo.jpg) no-repeat;
	margin-top: 60px;
	padding-top:140px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h5, p{
    color:white;
}

h3{
     color:white;
}

.bottom{
    background-color:;
}

#intro{
    background: #2c3e50;
	padding-top: 60px;
	padding-bottom: 60px;
	color: white;
}

#footwrap{
    background-color: #2f2f2f;
}

#fullwrap{
    background-color: #2f2f2f;
}

ul, li{
    color: aliceblue;
}